.main {
	height: 100vh;
	background-color: #fff;
}

.mainContainer {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatarContainer {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.randomize {
	color: #47bc9d;
	border: 1px solid #47bc9d;
	border-radius: 4px;
	padding: 10px 50px;
	background-color: transparent;
	margin: 10px 0;
}

.customizeContainer {
	height: 30vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #000;
}

.customizeOptions {
	width: 100vw;
	height: 5vh;
	padding: 0 10px;
	display: flex;
	align-items: center;
	overflow: auto;
}

.customizeOptions::-webkit-scrollbar {
	display: none;
}

.customizeOption {
	padding: 5px 10px;
	margin: 3px 10px;
	background-color: rgb(71, 188, 157, 0.42);
	border-radius: 3px;
	font-size: small;
	width: 100%;
	white-space: nowrap;
}

.customizeOption2 {
	padding: 5px 10px;
	margin: 3px 10px;
	border-radius: 3px;
	font-size: small;
	width: 100%;
	white-space: nowrap;
}

.customizePreviewContainer {
	width: 100vw;
	height: 25vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.customizePreview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 25vh;
	overflow: auto;
}

.piece {
	width: 100px;
	border: 1px solid #47bc9d;
	border-radius: 4px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pieceSkin {
	width: 100px;
	border-radius: 4px;
	margin: 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pieceEyes {
	min-width: 100px;
	border-radius: 4px;
	margin: 10px;
	margin-bottom: -50px;
	margin-right: -50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selectContainer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}
